
#NavMenu li {
    list-style: none;
    float: left;
    display: block;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    border-right: 1px solid black;
    min-width: 100px;
}

li a{
    color: rgb(255,255,255);
    font-size: 25;
}

li a:hover{
    color: rgb(220,220,220);
}

ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: #333333;
    
}

div{
  
}
